.nav{
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	background: #262626;
	width: 240px;
	height: 25px;
	z-index: 12000;
	min-height: 0;
	font-weight: normal;
	color: #fff;
	padding: 0 0 1px 0;
	font-size: 18px;
	text-align: center;
}

.nav a{
	display:inline-block;
	padding:0 5px;
  color: white;
  text-decoration:none;
}
